body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #4a4a4a;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #000000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    position: relative;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #8ec5fc;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #6c63ff;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #5752d0;
    transform: scale(1.05);
}

.clear-button {
    position: absolute;
    top: 23.5px;
    right: 23px;
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.clear-button:hover {
    background-color: #e55b50;
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.average-container {
    margin-top: 20px;
    background: #e0f7fa;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.average-container h3 {
    margin: 0;
    font-size: 1.2rem;
}